mixin main()
    main.main 
        section.section
            .img#bg
                img(src="@img/bg.jpg", alt="" draggable="false")
            h1#text Mountains
            .img#man
                img(src="@img/man.png", alt="" draggable="false")
            .img#clouds_1
                img(src="@img/clouds_1.png", alt="" draggable="false")
            .img#clouds_2
                img(src="@img/clouds_2.png", alt="" draggable="false")
            .img#mountain_left
                img(src="@img/mountain_left.png", alt="" draggable="false")
            .img#mountain_right
                img(src="@img/mountain_right.png", alt="" draggable="false")
        .sec 
            h2 ScrollTrigger is Awesome 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta, debitis aliquid optio eligendi quam adipisci blanditiis inventore a unde. Ex dolore quis ipsum ut velit alias, atque tempora recusandae commodi excepturi, earum, tempore eius placeat voluptatibus non. Aperiam, nihil nulla beatae sit ea aliquam perspiciatis ipsam, fugit accusamus animi veritatis obcaecati quas optio ad sapiente facilis earum voluptate voluptas eveniet molestias debitis, velit eos? Fuga architecto pariatur natus omnis nemo aspernatur dolor atque quae cum iusto odit praesentium, repudiandae consequatur laudantium velit dolores obcaecati adipisci nostrum quos. Excepturi animi voluptas illo nemo minima veritatis fugit reiciendis esse eos numquam aut, voluptates quae, reprehenderit repellendus, ad facilis tempora quas asperiores ut dolores sit cum ab! Velit eos corporis nam quod, corrupti dolorem aliquid ipsum, incidunt quo dolores non minima ducimus voluptatem fugit, culpa delectus labore facilis! Modi officiis natus, totam ipsa animi ex doloremque praesentium aspernatur harum pariatur ratione quisquam possimus fugiat non laborum. Vero et unde dignissimos repellendus neque nesciunt dicta adipisci. Laudantium tempore pariatur qui enim veniam hic quos unde cupiditate impedit aut eos ut excepturi fugit rerum dolores praesentium, corrupti nemo vel, cumque et. Nemo explicabo, fuga hic velit consectetur incidunt facilis quae sint qui laboriosam ducimus delectus quaerat officia alias ipsam odio, reprehenderit, nam deserunt tempore maxime. Totam quasi doloremque aperiam, maxime vitae magni praesentium labore rerum quae dolorum nesciunt nemo corporis laborum officia ratione fuga quam voluptatum ipsam possimus ea dolore? Ratione quos, voluptatum molestiae dolores suscipit laudantium, quasi nemo, temporibus minus tempora voluptatem. Eligendi consequatur eos ipsam dicta id ullam eveniet, odio omnis numquam sequi cumque distinctio iste dignissimos modi ipsa ea autem? Aliquam placeat culpa corporis et exercitationem, a, ad veniam in distinctio unde minima consequuntur nobis enim animi reiciendis qui at laudantium? Accusamus tempora consectetur quaerat laborum. Aperiam ea ullam consequuntur numquam perferendis, odio molestiae architecto officia voluptates doloremque, rerum labore corporis alias aspernatur molestias animi est in consectetur soluta esse cum recusandae? Architecto vitae esse explicabo culpa mollitia asperiores commodi aliquid, neque nemo et dolores molestias? Sed eveniet perspiciatis fuga repudiandae corrupti commodi beatae, porro consequuntur nisi doloribus non laudantium necessitatibus dolore distinctio itaque, quasi excepturi officiis impedit. Pariatur animi culpa omnis? Iure, laudantium doloremque! Quae deserunt sed, maiores pariatur dicta sapiente neque libero dignissimos odio, laudantium facilis molestiae amet recusandae atque. Quos voluptatibus, aliquam sapiente delectus labore nemo, eligendi similique ab enim cumque ut omnis, dolores blanditiis vel consequuntur veniam!
